@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<h2>Administração</h2>
<br />
<br />
<div class="row">

    <div class="col-sm-4">
        <div class="card card-default">
            <div class="card-header" style="display: flex;background-color:darkslateblue;color:aliceblue; justify-content: center;">Pedidos de Serviço</div>
            <div class="card-body card-5-7">
                <div class="card-left">
                    <i class="fas fa-truck fa-w-14 fa-8x"></i>
                </div>
                <div class="card-right">
                    <ul>
                        <li>Lista de Serviçoes</li>
                        <li>Gerir Serviços</li>
                    </ul>
                </div>
            </div>
            <div class="card-footer" style="display: flex; justify-content: center;">

                <input type="button" style="background-color:darkslateblue" value="Serviços" class="btn btn-primary" onclick="location.href='@Url.Action("ListServicesRequest", "Manage")';" />
            </div>
        </div>
    </div>



    <div class="col-sm-4">
        <div class="card card-default">
            <div class="card-header" style="display: flex;background-color:darkslateblue;color:aliceblue; justify-content: center;">Opções das Roles</div>
            <div class="card-body card-5-7">
                <div class="card-left">
                    <i class="fas fa-sitemap fa-w-14 fa-8x"></i> <!-- this icon's 1) style prefix == fas and 2) icon name == igloo -->
                </div>
                <div class="card-right">
                    <ul>
                        <li>Lista Roles</li>
                        <li>Criar Roles</li>
                        <li>Remover Roles</li>
                    </ul>
                </div>
            </div>
            <div class="card-footer" style="display: flex; justify-content: center;">

                <input type="button" style="background-color:darkslateblue" value="Roles" class="btn btn-primary" onclick="location.href='@Url.Action("ListRole", "Manage")';" />
            </div>
        </div>
    </div>


    <div class="col-sm-4">
        <div class="card card-default">
            <div class="card-header" style="display: flex;background-color:darkslateblue;color:aliceblue; justify-content: center;">Registar Empregado</div>
            <div class="card-body card-5-7">
                <div class="card" style="display: flex; justify-content: center;">
                    <i class="fas fa-briefcase fa-w-14 fa-8x"></i>
                </div>

            </div>
            <div class="card-footer" style="display: flex; justify-content: center;">

                <input type="button" id="registerLink" style="background-color:darkslateblue" value="Registar" class="btn btn-primary" onclick="location.href='@Url.Action("RegisterEmployee", "Manage")';" />
            </div>
        </div>
    </div>
</div>
<i class="fas "></i>
<div class="row">
    <div class="col-sm-4">
        <div class="card card-default">
            <div class="card-header" style="display: flex;background-color:darkslateblue;color:aliceblue; justify-content: center;">Opções de Serviço</div>
            <div class="card-body card-5-7">
                <div class="card-left">
                    <i class="fas fa-truck-loading fa-w-14 fa-8x"></i> <!-- this icon's 1) style prefix == fas and 2) icon name == igloo -->
                </div>
                <div class="card-right">
                    <ul>
                        <li>Lista Tipos</li>
                        <li>Criar Tipo</li>
                        <li>Editar Tipo</li>
                        <li>Remover Tipo</li>
                    </ul>
                </div>
            </div>
            <div class="card-footer" style="display: flex; justify-content: center;">

                <input type="button" style="background-color:darkslateblue" value="Gerir" class="btn btn-primary" onclick="location.href='@Url.Action("ListServiceType", "Manage")';" />
            </div>
        </div>
    </div>

    <div class="col-sm-4">
      
    </div>
    <div class="col-sm-4">
        <div class="card card-default">
            <div class="card-header" style="display: flex;background-color:darkslateblue;color:aliceblue; justify-content: center;">Lista de Utilizadores</div>
            <div class="card-body card-5-7">
                <div class="card" style="display: flex; justify-content: center;">
                    <i class="fas fa-clipboard-list fa-w-14 fa-8x"></i> <!-- this icon's 1) style prefix == fas and 2) icon name == igloo -->
                </div>

            </div>
            <div class="card-footer" style="display: flex; justify-content: center;">

                <input type="button" style="background-color:darkslateblue" value="Lista" class="btn btn-primary" onclick="location.href='@Url.Action("ListEntities", "Manage")';" />
            </div>
        </div>
    </div>
</div>











