
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Listar Roles", "ListRole")
<br />
<br />
@Html.ActionLink("Listar Entidades", "ListEntities")
<br />
<br />
@Html.ActionLink("Register", "RegisterEmployee", "Manage", routeValues: null, htmlAttributes: new { id = "registerLink" })
<br />
<br />
@Html.ActionLink("Listar Equipamnetos", "ListEquipments")
<br />
<br />
@Html.ActionLink("Listar Serviços tipo", "ListServiceType")
