
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Listar Roles", "ListRole")
<br />
<br />
@Html.ActionLink("Listar Entidades", "ListEntities")
<br />
<br />
@Html.ActionLink("Register", "RegisterEmployee", "Manage", routeValues: null, htmlAttributes: new { id = "registerLink" })
<br />
<br />
@Html.ActionLink("Listar Equipamnetos", "ListEquipments")
<br />
<br />
@Html.ActionLink("Listar Serviços tipo", "ListServiceType")
<br />
<br />
@Html.ActionLink("Listar Serviços", "ListServices")


@*@Html.Partial("_MenuManage")*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        console.log("teste");
        $(document).ready(function () {
            console.log("RDY");
            $("#homeLink").hide();
            $("#aboutLink").hide();
            $("#contactLink").hide();
        });
        console.log("<li id='ola'> <a href=/Manage/Index >Manage </a></li>")
        $("#miniMenu").append("<li id='ola'> <a href=/Manage/Index >Manage </a></li>");
    </script>
}