@model IEnumerable<ResidualCenter.Models.ServiceType>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<h2>Lista de Tipos de Serviço</h2>

<br />

<p>
    <button type="button" class="btn btn-primary" onclick=" window.location.href = '@Url.Action("CreateServiceType", "Manage")';">Criar Tipo de Serviço</button>

</p>

<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditServiceType", new { id = item.ID }) |
                @Html.ActionLink("Delete", "DeleteServiceType", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<div class="control-label col-md-2">
    @Html.ActionLink("Voltar", "Index")
</div>

