@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<<<<<<< HEAD
<h2>LISTA DE SERVIÇOS</h2>
=======
>>>>>>> parent of 68761b7... oncemore

<button type="button" class="btn btn-primary" onclick=" window.location.href = '@Url.Action("RequestServices", "Client")';">Pedir Serviços</button>

<<<<<<< HEAD


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        console.log("teste");
        $(document).ready(function () {
          

            var link1 = "<a href='/Client/ListServices' >Serviços</a>";
            var content = "<ul class='nav navbar-nav navbar-left'>" +
                "<li> " + link1 + " </li>" +
                "</ul> ";
            $("#barraMenu").before(content);

        });


    </script>
=======
@if (Request.IsAuthenticated)
{
    <h2>Perfil @User.Identity.Name</h2>
    @Html.AntiForgeryToken()
    if (User.IsInRole("Admin"))
    {
        <p>ADMIN</p>
    }
    else if (User.IsInRole("Client"))
    {
        <p>CLIENT</p>
    }
    else if (User.IsInRole("Employee"))
    {
        <p>EMPLOYEE</p>
    }

 //   @Html.Partial("_MenuAdmin")
}
else
{
    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
>>>>>>> parent of 68761b7... oncemore
}