@model IEnumerable<ResidualCenter.Models.ServiceRequest>
@{
    ViewBag.Title = "ServicesOptions";
}

<br />
<br />
<h2>Lista de Serviços</h2>

<br />
<br />
<br />


<div class="container">

    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#aceite">Aceites</a></li>
        <li><a data-toggle="pill" href="#pendente">Pendentes</a></li>
        <li><a data-toggle="pill" href="#recusado">Recusados</a></li>
        <li><a data-toggle="pill" href="#progresso">Destacado</a></li>
        <li><a data-toggle="pill" href="#finalizado">Concluidos</a></li>
    </ul>

    <div class="tab-content">
        <div id="aceite" class="tab-pane fade in active">
            <br />
            @{
                foreach (var item in Model)
                {
                    if (item.ServiceRequestStatus.Name.Equals("Aceite"))
                    {
                        @Html.Partial("_listRequestSucess", item)
                    }

                }
            }
        </div>
        <div id="pendente" class="tab-pane fade">
            <br />
            @{
                foreach (var item in Model)
                {
                    if (item.ServiceRequestStatus.Name.Equals("Pendente"))
                    {
                        @Html.Partial("_listRequestWaiting", item)
                    }

                }
            }
        </div>
        <div id="recusado" class="tab-pane fade">
            <br />
            @{
                foreach (var item in Model)
                {
                    if (item.ServiceRequestStatus.Name.Equals("Recusado"))
                    {
                        @Html.Partial("_listRequestRefused", item)
                    }

                }
            }
        </div>
        <div id="progresso" class="tab-pane fade">
            <br />
            @{
                foreach (var item in Model)
                {
                    if (item.ServiceRequestStatus.Name.Equals("Destacado"))
                    {
                        @Html.Partial("_listRequestProgress", item)
                    }

                }
            }
        </div>
        <div id="finalizado" class="tab-pane fade">
            <br />
            @{
                foreach (var item in Model)
                {
                    if (item.ServiceRequestStatus.Name.Equals("Finalizado"))
                    {
                        @Html.Partial("_listRequestDone", item)
                    }

                }
            }
        </div>
    </div>
</div>


<div class="control-label col-md-2">
    @Html.ActionLink("Voltar", "Index")
</div>

